@import url('https://fonts.cdnfonts.com/css/romantic');
* {box-sizing: border-box;}

body{
  background-color:#7c6d80;
font-family: 'Courier New', sans-serif;}

.background-img{
  background-image: url("https://w0.peakpx.com/wallpaper/950/870/HD-wallpaper-grey-planet-planet-universe-space-grey-scifi.jpg");
  width:50%;
  height:104%;
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: -1;}

.table{
  width:100%;}

.th{
  width:85%;
 padding-left:5%;}

.lbwebtaro{
  color:black;
font-size: 4vw;
font-family: 'Romantic', sans-serif;
box-shadow: 20px 15px 65px white;
  background: -webkit-linear-gradient(left,white 0%,gray 25%,black 50%,white 100% ) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: masked 70s linear infinite;
  -webkit-animation: masked 70s linear infinite;}

  @keyframes masked{0% {background-position: 0 0;}100% {background-position: 10000px;}}

  


.img{
  width:100%;
  border: 3px solid #7c6d80;
  box-shadow: 20px 15px 65px white;
  height: auto;
  position:relative;
  right:90%;
  animation: rotation 8s infinite linear;}

@keyframes rotation {from {transform: rotate(0deg);}to { transform: rotate(359deg);}}

.menu {
  float: left;
  width: 20%;
  text-align: center;
  background-color:black;
padding:3%;
border-top:6px solid white;
border-left:6px solid white;}

.menu a {
  background-color: #bbbbc7;
  padding: 20px;
  margin-top: 17px;
  color: black;
display:block;
  text-decoration:none;
  font-size:1.2vw;
  font-weight:bold;
  border-radius: 5px;
 box-shadow: 0px 3px 3px white;
  transition: .3s all;
  cursor: pointer;}

a:hover {
  background-color:white;
  box-shadow: 0px 0px 15px  white;}
  
  a:active{
 transform: translateY(8px);}

.main {
  float: left;
  width: 60%;
  padding:49px;
  font-size:1.5vw;
  font-weight:bold;
color:white;
background-color:black;
border-top:6px solid white;
border-left:6px solid white;}

.aboutme{
  color:#7c6d80;
  font-family: 'Romantic', sans-serif;
font-size:2vw;}


.right1 {
  color:black;
  float: left;
  width: 20%;
  padding: 25px;
  text-align: center;
  font-size:2vw;
  font-weight:bold;
  font-family: 'Romantic', sans-serif;
  background: -webkit-linear-gradient(left,white 0%,gray 25%,white 100% ) repeat;
  animation: masked 100s linear infinite;
  -webkit-animation: masked 100s linear infinite;
  border-left: 6px solid white;
  border-top:6px solid white;
  border-right:6px solid white;}
  


  .btn1{
    font-family: 'Courier New', sans-serif;
      background-color: white;
      padding: 15px;
      margin-top: 17px;
      color: black;
    display:block;
      text-decoration:none;
      font-size:2.2vw;
      font-weight:bold;
      border-radius: 5px;
     box-shadow: 0px 8px 3px black;
      transition: .3s all;
      cursor: pointer;
      border: 2px solid black;}

      .btn1:hover {
        background-color:black;
        color:white;
        box-shadow: 0px 0px 15px  white;
      border: 2px solid black;}
        
      .btn1:active{
       transform: translateY(8px);}

  .right2 {
    background-color:black;
    color:white;
    float: left;
    width: 20%;
    padding: 55px;
    text-align: center;
    font-size:1.5vw;
    font-weight:bold;
    box-shadow: 0px 0px 665px  white;
    border-right:6px solid white;
    border-left: 6px solid white;
    border-top: 6px solid white;}


.footertable{
  width:100%;
  background-color:#7c6d80;
  border-top:6px solid white;
  font-size:1vw;
}


/*laptop*/
    @media screen and (max-width: 1440px) {
      .background-img{
        height:138%;}

      .th{
       padding-left:0%;}
      
      .lbwebtaro{
      font-size: 5vw;}

      .img{
        right:80%;}
     
      .menu {
        width: 20%;
      padding:2%}
      
      .menu a {
        padding: 21.5px;
        margin-top: 17px;
        font-size:1.2vw;}  
      
      .main {
        padding:55.5px;
        font-size:1.5vw;}
      
      .aboutme{
      font-size:2vw;}
      
      .right1 {
        padding: 25px;
        font-size:2vw;}
        
        .btn1{
            padding: 10px;}
      
        .right2 {
          padding: 50px;}





/*mobile*/
@media screen and (max-width: 600px) {
  .menu, .main{
    width: 100%;}
  .background-img{
      height:390%;}

.lbwebtaro{
      font-size:5.5vw;
     font-family: 'Romantic', sans-serif;}
.th{
  padding-left:0%;}

.menu{
  border:6px solid white;}

  .menu a{
    font-size:4vw;}

  .main {
    font-size:3.5vw;
    text-align:center;
    border:6px solid white;}

  .aboutme{
    font-size:7vw;}
 
    .img{
      width:120%;
      right:50%;}

    .right1{
      font-size:9vw;
    width:100%;
    border:6px solid white;}
    .btn1{
      padding:5%;
      font-size:7vw;}

    .right2{
      font-size:6vw;
    width:100%;
    border:6px solid white;}
    .footertable{
      font-size:3vw;}

}


